# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Renderer.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Klever\Desktop\yas\teachingCG\C#\Renderer\.idea\.idea.Renderer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
